{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <h4 class="text-center mb-4">Review Your Order</h4>

        <div class="row">

            <!-- LEFT SIDE -->
            <aside class="col-lg-8">

                <!-- Billing Address -->
                <div class="card mb-3">
                    <h5 class="card-header">Billing Address</h5>
                    <div class="card-body">
                        <p class="mb-0"><strong>Name: </strong>{{ order.full_name }}</p>
                        <p class="mb-0"><strong>Address:</strong>{{ order.full_address }}</p>
                        <p class="mb-0"><strong>City:</strong>{{ order.city }}</p>
                        <p class="mb-0"><strong>Country:</strong>{{ order.country }}</p>
                        <p class="mb-0"><strong>Email:</strong>{{ order.email }}</p>
                        <p class="mb-0"><strong>Phone:</strong>{{ order.phone}}</p>
                    </div>
                </div>

                <!-- Payment Method -->
                <div class="card mb-3">
                    <h5 class="card-header">Payment Method</h5>
                    <div class="card-body">
                        <p>Online Payment</p>
                    </div>
                </div>

                <!-- Products -->

                <div class="card">
                    <h5 class="card-header">Review Products</h5>
                    <div class="card-body">

                        <table class="table table-borderless">
                            <thead class="text-muted">
                                <tr>
                                    <th>Product</th>
                                    <th width="120">Qty</th>
                                    <th width="120">Price</th>
                                </tr>
                            </thead>
                            <tbody>

                                
                                {% for items in cart_items %}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="{{ items.prod.product_image.url }}" class="img-sm mr-3">
                                            <div>
                                                <p class="mb-0">{{ items.prod.product_name }}</p>
                                                <small class="text-muted">{{ items.prod.description }}</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ items.quantity }}</td>
                                    <td>{{ items.sub_total }}</td>
                                </tr>
                                {% endfor %}
                             

                               

                            </tbody>
                        </table>

                    </div>
                </div>

            </aside>

            <!-- RIGHT SIDE -->
            <aside class="col-lg-4">

                <div class="card">
                    <div class="card-body">

                        <!-- <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right">{{total}}</dd>
                        </dl>

                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right">{{ tax }}</dd>
                        </dl> -->
<input type="hidden" id="order_number" value="{{ order.order_number }}">

                        <dl class="dlist-align">
                            <dt><strong>Grand Total:</strong></dt>
                            <dd class="text-right"><strong>{{amnt}}</strong></dd>
                        </dl>

                        <hr>

                        <button id="rzp-button" class="btn btn-primary btn-block">
    Pay with Razorpay
</button>

                    </div>
                </div>

            </aside>

        </div>

    </div>
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "GreatKart",
    "description": "Order Payment",
    "order_id": "{{ razorpay_order_id }}",

    "handler": function (response){

        // 🔥 THIS LINE WAS MISSING
        response.order_number = document.getElementById("order_number").value;

        fetch("{% url 'payment_success' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify(response)
        })
        .then(res => res.json())
        .then(data => {
            window.location.href = "{% url 'order_success' %}";
        });
    },

    "prefill": {
        "email": "{{ order.email }}",
        "contact": "{{ order.phone }}"
    }
};

var rzp1 = new Razorpay(options);

document.getElementById('rzp-button').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>


{% endblock %}
